.mr-btn-add{
    background: #4dcea9;
    border-color: #4dcea9;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0;
    color: #fff;

}
.mr-btn-add:before{
    content: "+";
}

.mr-btn-remove{
    background: #ce5a5a;
    border-color: #ce5a5a;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
}

.mr-btn-remove:before{
    content: "-";
}
